# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
mock-api
mock-api-test

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
